public-latest.all.masked.pb
public-latest.all.nwk.gz
public-latest.metadata.tsv.gz
timetree_public-latest.all.nwk.gz
# Build artefacts
build/
dist/
*.egg-info/
__pycache__/
**.pyc

# Written at build time by setuptools_scm
src/chronumental/_version.py

# Local virtualenvs
.venv/
venv/

src/wandb/**
src/tree.nwk
src/dates.tsv
src/dates_chron.tsv
src/tree_chron.nwk
docs/_build/
